.admin {
  position: fixed;
  top: 0;
  padding: 15px;
  width: 100%;
}
.container {
  position: absolute;
  margin: auto;
  height: 50%;
  text-align: center;
  width: 600px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.logo {
  max-width: 450px;
  max-height: 450px;
}
